torch>=2.2
transformers>=4.42
accelerate
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
numpy>=1.22.0 # not directly required, pinned by Snyk to avoid a vulnerability
